.result-wrapper {
  display: none;
  margin: 0px 100px;
  margin-top: 50px;
}

.result-div .show {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-wrapper {
  display: flex;
  justify-content: center;
  margin: 50px 50px;
}

#myInput {
  box-sizing: border-box;
  background-position: 14px 12px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 14px 20px 12px 45px;
  border: none;
  border-bottom: 1px solid #ddd;
}

#myInput:focus {outline: 3px solid #ddd;}

#loading {
    font-size: 18px;
    text-align: center;
    padding: 10px;
    margin: 5px;
}

.dropdown {
  position: relative;
  display: inline-block;
  padding: 10px 25px;
}

.filter-box,
.filter-drop {
  max-width: 250px;
}

.group-item {
  font-size: 10px;
  padding: 8px 14px;
  border: 1px solid #ccc;
  background-color: white;
  cursor: pointer;
  border-radius: 4px;
}

.group-item.active {
  background-color: #e6f0fa;
  border-color: #0070f3;
  color: #0070f3;
}

.buy-sell-wrapper {
  display: flex;
  justify-content: start;
}

.filter-group {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
}

.page-title {
  margin: 0px auto;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.search {
  width: 260px;
  height: 40px;
}

.selected-item-wrapper {
  margin: 2px 5px;  
}

.metric-info-wrapper {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.metric-info {
  font-size: 11px;

}

.body-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  justify-content: space-around;
}

.buy-sell {
  display: flex;
  flex-direction: column;
}

.buy-sell-header {
  text-align: center;
}

.tool-wrapper {
  display: flex;
  width: 50%;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.holder-wrapper {
  display: flex;
  width: 50%;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: calc(100vh - 100px);
}

.submit-wrapper {
  display: flex;
  margin-top: 50px;
  flex-direction: column;
  align-items: center;
}

.submit {
  width: auto;
  height: 40px;
  margin: 5px;
}

.symbol-wrapper {
  text-transform: uppercase;
}

.selector-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f6f6f6;
  width: 250px;
  height: auto;
  overflow: auto;
  overflow-x: hidden;
  max-height: 400px;
  border: 1px solid #ddd;
  z-index: 1;
}

.log-button {
  margin: 5px;
}

.dropdown-content a {
  color: black;
  max-width: 230px;
  padding: 12px 16px;
  text-decoration: none;
  text-wrap: wrap;
  display: flex;
  align-items: center;
}

.coin-image {
  height: 15px;
  width: 15px;
  margin-right: 10px;
}

.selected-img {
  height: auto;
  width: 30px;
  border-radius: 50%;
}

.selected-box {
  display: none;
}

.hidden {
  display: none;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}

.flex {display: flex;}

.submit-wrapper .flex {
  flex-wrap: wrap;
}

.container {
  max-width: 100%;
  min-height: calc(100vh - 100px);
}

.filter-box {
  height: 24px;
  width: 250px;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(118, 118, 118);
  border-top: none;
}

.filter-wrapper {
  border: 1px solid #d1d5db; /* light gray border */
  border-radius: 6px;         /* slim curve */
  padding: 4px;
  display: inline-flex;
  background-color: #f9fafb;
}

.filter-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tooltip-icon {
  padding: 0px 5px;
}

.popout-wrapper {
  position: relative;
  display: inline-block;
}

.popout {
  position: relative;
  cursor: pointer;
  color: #2563eb;
  font-weight: 600;
}

.floating-img {
  display: none;
  position: absolute; /* or absolute relative to body */
  top: 50px;
  left: -150%;
  width: 510px;
  border: 1px solid #ccc;
  background: #fff;
  padding: 4px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  z-index: 9999;
}

.popout:hover + .floating-img {
  display: block;
}

.floating-img img {
  width: 500px;
}

.show-selected {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 260px;
  height: 40px;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(118, 118, 118)
}

.hide {display: none;}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.log-in-out {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
}

@media screen and (max-width: 1250px) {
  .tool-wrapper {
    width: 100%;
  }

  .holder-wrapper {
    width: 100%;
  }

  .metric-info-wrapper {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}
