{% extends "base.html" %} {% block content %}
<div>
  <h1>Crypto</h1>
    <h2>Market Caps</h2>
    <div class="dropdown" id="dropdown1">
      <input onclick="dropsearch('myDropdown1')" type="text" placeholder="Search.." id="searchInput1" onkeyup="filterFunction('searchInput1', 'myDropdown1')">
      <div id="myDropdown1" class="dropdown-content">
        {% for coin in coins %}
	<a href="#"
	   data-name="{{ coin.name }}"
	   data-id="{{ coin.crypto_id }}"
	   data-symbol="{{ coin.symbol }}"
	   data-market-cap="{{ coin.market_cap }}"
	   data-circ-supply="{{ coin.circulating_supply }}"
	   data-image_link="{{ coin.image_link }}"
	   onclick="coinSelect(event, 'searchInput1')"
	   ><img src="{{ coin.image_link }}" alt="{{ coin.name }} image " class="coin-image">{{ coin.name }}</a>
        {% endfor %}
      </div>
    </div>

    <div class="dropdown" id="dropdown2">
      <input onclick="dropsearch('myDropdown2')" type="text" placeholder="Search.." id="searchInput2" onkeyup="filterFunction('searchInput2', 'myDropdown2')">
      <div id="myDropdown2" class="dropdown-content">
        {% for coin in coins %}
        <a href="#"
	   data-name="{{ coin.name }}"
           data-id="{{ coin.crypto_id }}"
	   data-symbol="{{ coin.symbol }}"
           data-market-cap="{{ coin.market_cap }}"
           data-circ-supply="{{ coin.circulating_supply }}"
	   data-image_link="{{ coin.image_link }}"
           onclick="coinSelect(event, 'searchInput2')"
	   ><img src="{{ coin.image_link }}" alt="{{ coin.name }} image " class="coin-image">{{ coin.name }}</a>
	{% endfor %}
      </div>
    </div>

</div>
{% endblock %}
